@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
  background-color: #08051F;
  margin: 0;
  font-family: 'Odibee Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  letter-spacing: 0;
  font-size: 26px;
}
